.publication-category {
    margin-bottom: 20px;
  }
  
  .publication-category h3 {
    color: #444;
    font-size: 16px;
  }
  
  .publication-category p {
    color: #666;
    font-size: 14px;
  }
  
  .awards-section ul {
    list-style: none;
    padding: 0;
  }
  
  .awards-section ul li {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
  }