.header-section {
    text-align: left;
    margin-bottom: 20px;
  }
  

  
  .text-block-1{
    color: var(--color-navy);
    font-size: var(--font-size-large);
    padding: 4px 0;
  }
  
  .text-block-2 {
    color: var(--color-blue-dark);
    font-size: var(--font-size-xxlarge);
    font-weight: bold;
  }
  
  .text-block-3 {
    color: var(--color-blue-dark);
    font-size: var(--font-size-xlarge);
    font-weight: bold;
    padding: 12px 0;
  }

  .text-block-4 {
    color: var(--color-navy);
    font-size: var(--font-size-large);
    padding: 12px 0;
  }
  
  .gamma-link{
    color: var(--color-gray-dark);
  }