.App {
  display: flex;
  min-height: 100vh;
}

/* デフォルトのスタイル（デスクトップとモバイル共通） */
.main-content-containar {
  margin-left: 300px;
  width: 100%;
  background-color: var(--color-white);
  padding: 40px 24px 20px 24px;
  box-sizing: border-box;
}

.main-content {
  width: 80%;
  margin: 0 auto; /* 中央揃えにするために追加 */
}

section {
  margin-bottom: 40px;
}

section h2 {
  color: #1a73e8;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 5px;
}

:root {
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 20px;
  --font-size-xlarge: 28px;
  --font-size-xxlarge: 40px;

  --color-gray-light: #cecbcc;
  --color-gray-dark: #515561;
  --color-blue-dark: #1f3555;
  --color-navy: #242740;
  --color-white: #FBFBFB;
}